
@{
    ViewBag.Title = "Acerca";
}

<h2>Acerca</h2>

<h3>
Greisy Marchena <br />
20175528<br />
    </h3>


<img src="~/img/WhatsApp Image 2020-04-14 at 4.17.44 AM.jpeg" style="width:380px;height:500px;"/>