
@{
    ViewBag.Title = "AccionAventura";
}

<h2>AccionAventura</h2>

<iframe width="560" height="315" src="https://www.youtube.com/embed/t3DpuQrBivU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br />
<iframe width="560" height="315" src="https://www.youtube.com/embed/HQIiYqOVTWo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br />
<iframe width="560" height="315" src="https://www.youtube.com/embed/JakW3A5Bhec" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br />
<iframe width="560" height="315" src="https://www.youtube.com/embed/uNOnq5YaNxg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br />
<iframe width="560" height="315" src="https://www.youtube.com/embed/RRp0lTQcLP0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br />
