
@{
    ViewBag.Title = "Musica";
}

<h2>Musica</h2>

<a href="https://www.youtube.com/musicpremium">Youtube Music</a><br />
<a href="https://www.spotify.com/do/">Spotify</a><br />
<a href="https://www.apple.com/la/apple-music/">Apple music</a><br />
<a href="https://play.google.com/music/listen?u=0#/sulp">Google Play Music</a>
<br />
