
@{
    ViewBag.Title = "Noticias";
}

<h2>Noticias</h2>
Internacionales
<br /><br />
<a href="https://www.bbc.com/">BBC</a><br />
<a href="https://www.elmundo.es/">El Mundo</a><br />
<a href="https://www.rtve.es/">RTVE</a><br />
<a href="https://www.hoy.es/">Hoy.es</a><br />
<a href="https://www.20minutos.es/">20 minutos</a><br />



<br />
<br />
Locales
<br /><br />
<a href="https://www.diariolibre.com/">Diario Libre</a><br />
<a href="https://cdn.com.do/">CDN</a><br />
<a href="https://remolacha.net/">Remolacha.net</a><br />
<a href="https://listindiario.com/">Listin Diario</a><br />
<a href="https://www.livio.com/">Livio.com</a><br />


